body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #555;
    text-decoration: none;
}

.user-profile {
    margin-left: auto;
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.posts {
    flex-grow: 1;
    width: calc(60% - 20px);
    width: 600px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
}
.post {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.post:last-child {
    border-bottom: none;
}
.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.date {
    color: gray;
    font-size: 0.9em;
}
.post-content {
    margin-top: 10px;
}
.post-image {
    width: 100%;
    border-radius: 5px;
}
.post-content p {
    margin-top: 10px;
}
.post-footer {
    margin-top: 10px;
}
.like-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.like-button:hover {
    background-color: #555;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(10% - 20px);
    min-height: calc(100vh - 60px);
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .posts {
        width: 100%;
        padding: 10px;
    }
}
div > p { margin: 10px; }
h1 + p { color: orange; }
h1 ~ p { color: purple; }
